---
import Base from "../layouts/BaseLayout.astro";
---
<Base title="Not Found">
  <div class="py-20 text-center">
    <h1 class="text-3xl font-bold">Page not found</h1>
    <p class="mt-2 text-slate-600 dark:text-slate-300">Try the <a class="underline" href="/">homepage</a>.</p>
  </div>
</Base>
